@import 'shared.css';


form {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

form button.register-button,
form button.forgot-password-button {
    border: none;
    border-radius: 10px;
    background-color: var(--dark-orange);
    width: 100%;
    height: fit-content;
}

form button.register-button a,
form button.forgot-password-button a {
    color: white;
    display: block;
    padding: 20px 10px;
    font-size: 1.25rem;
}

form button.register-button {
    grid-column: 2;
}

form span.error-message {
    display: none;
}

form.error span.error-message {
    display: inline-block;
    grid-row: 1;
    grid-column: 3;
    color: var(--dark-red);
    align-self: flex-end;
    justify-self: flex-end;
    height: fit-content;
    font-size: 1.25rem;
    font-weight: 700;
}