{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'css/auth/login.css' %}">
{% endblock stylesheets %}

{% block pageName %} - Login{% endblock %}

{% block content %}
<img class="bg" src="{% static "img/plants.jpg" %}" alt="Desenho de folhas em preto e branco" />
{% include "shared/button.html" with css_class="back-button" button_text="Voltar" %}
{% include "auth/login_form.html" with action="/auth/login" %}

{% endblock content %}

{% block scripts %}
<script defer src='{% static "js/submitButtonEnabler.js" %}'></script>
{% endblock scripts %}