{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'css/auth/login.css' %}">
{% endblock stylesheets %}

{% block pageName %} - Login{% endblock %}

{% block content %}
<img src="{% static "img/plants.jpg" %}" alt="Desenho de folhas em preto e branco" />
{% include "shared/button.html" with css_class="back-button" button_text="Voltar" %}
{% include "auth/login_form.html" %}

{% endblock content %}

{# This script enables the submit button only when all input fields are filled. #} 
{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const form = document.querySelector("form");
        const submit = document.querySelector(".submit_button");
        form.addEventListener("input", function(event) {
            inputs = form.querySelectorAll("input");
            for (let input of inputs) {
                if (input.value.trim() === "") {
                    submit.disabled = true;
                    return;
                }
            }
            submit.disabled = false;
        })
    });
</script>

{% endblock scripts %}