{% load static %}

<form action="{{ action }}" method="{{ method|default:'post' }}">
    <div class="loading-icon" >
        <img src={% static "img/loading.svg" %} />
        <span>Carregando...</span>
    </div>
    {% csrf_token %}
    <h2>{{ form.name }}</h2>
    {{ form }}
    {% include "shared/button.html" with type="submit" text="Enviar" css_class="submit-button" %}
    {% block form_extra_content%}
    {% endblock form_extra_content%}
</form>

<script defer src="{% static 'js/submitForm.js' %}"></script>